@import "variables.scss";

.container {
  background-color: $background-color;
  border: 10px solid $purple;
  padding: 10px;
  color: white;
  min-height: 300px;

  img {
    width: 50px;
  }

  .item {
    cursor: pointer;

    &.active {

    }
  }
}
