/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

body {
  background-color: #151d31;
}

@import "variables.scss";

@mixin btn($color, $bg, $shadow-color) {
  color: $color;
  background-color: $bg;
  box-shadow: 4px 4px 1px $shadow-color;
  font-weight: bold;
  border-radius: 1rem;
}

@mixin btn-outline($color, $shadow-color) {
  color: $color;
  background-color: transparent;
  box-shadow: 4px 4px 1px $shadow-color;
  font-weight: bold;
  border-radius: 1rem;
  border: 1px solid $color;
}

.btn-outline-purple {
  @include btn-outline($light-purple, $purple);
}

.btn-purple {
  @include btn(white, $light-purple, $purple);
}

.btn-green {
  @include btn(white, $light-green, $green);
}

.btn-large {
  padding: 1rem 2rem;
}

.badge {
  text-align: center;
  border-radius: 2rem;

  &.badge-purple {
    background-color: $light-purple;
    color: white;
    font-weight: bold;
    box-shadow: 4px 4px 1px $purple;
    min-width: 150px;
  }
}


.purple-box {
  background-color: $light-purple;
  border: 5px solid $purple;
  color: white;

  &:hover {
    background-color: $purple;
    border: 5px solid $light-purple;
  }

  &.active {
    background-color: $purple;
    border: 5px solid $light-purple;
  }

  img {
    width: 50px;
  }
}
