$background-color: #060628;
$primary-blue: #0b1b41;
$secondary-blue: #143f64;

$green: #18676e;
$light-green: #27886a;
$secondary-green: #3e9e58;

$purple: #4d4697;
$light-purple: #5f4fa2;
$dark-purple: #412374;

$primary-color: $light-purple;
